<launch>
  <env name="PYTHONPATH" value="$(env PYTHONPATH)" />

  <arg name="parent_ip" default="$(optenv PARENT_IP 127.0.0.1)" />
  <arg name="parent_port" default="$(optenv PARENT_PORT 9559)" />

  <node pkg="nao_camera"
  		type="NaoCameraModule.py"
  		name="nao_camera"
  		required="true"
  		args="--pip=$(arg parent_ip) --pport=$(arg parent_port)"
  		output="screen">
  	<param name="camera" value="0" type="int" />
  	<param name="fps" value="20" type="int" />
  </node>
</launch>